.voucher {
  background-color: #ffcc00;
  color: #fff;
  padding: 20px;
  border: 2px dashed #d0021b;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  position: relative;
}

.voucher-title {
  background-color: #d0021b;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #fff;
}

.discount {
  font-size: 24px;
  font-weight: bold;
  color: #d0021b;
  margin-bottom: 10px;
}

.expiry-date {
  font-size: 16px;
  color: #333;
}
